<label>{{message}}</label>

<a href="/users">All Users</a>

<form method="post" action="/users/sign-up">
  <input name="username" placeholder="username" />
  <br>
  <input name="email" placeholder="email" />
  <br>
  <input name="passsword" type="password" placeholder="password" />
  <br>
  <input type="submit" value="Kayıt Ol" />
</form>